@font-face {
    font-family: 'Roboto';
    src: url("polices/Roboto/Roboto-Regular.ttf");
}

body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}

body a {
    text-decoration: none;
    color: black;
}

/* Partie 1 Header */

.entete {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 150px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

header input {
    /* Champ de recherche */
    background: #eaeaea;
    border: none;
    height: 40px;
    font-size: 0.9em;
    font-weight: 600;
}

.bordure1 {
    /* Formulaire */
    background: #eaeaea;
    box-shadow: inset 0px 2px 3px #d3d3d3;
    width: 100%;
    height: 45px;
    padding-top: 5px;
}

.bordure1 i {
    /* Icone localisation */
    margin-left: 70px;
    margin-right: 10px;
}

.barrerecherche {
    /* Icone + Recherche  */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Partie 2 Section 1 */

.section1 {
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section1 h1 {
    font-size: 28px;
}

.section1 p {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 25px;
}

.section1 a {
    /* Lien 'Explorer nos restaurants' */
    background: rgb(174, 95, 219);
    background: linear-gradient(0deg, #a65ddc 0%, #e471db 100%);
    color: white;
    font-size: 18px;
    padding: 20px;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 0px 3px #656565;
    margin-bottom: 60px;
    width: 70%;
}

/* Partie 3 Fonctionnement */

.fonctionnement {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.fonctionnement h2 {
    margin-top: 40px;
    margin-left: 15px;
    margin-bottom: 30px;
}

.navfonctionnement i {
    color: #7e7e7e;
    margin-right: 20px;
    margin-left: -5px;
    font-size: 1.2em;
}

.navfonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.navfonctionnement a {
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    width: 85%;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 10px #c6c6c6;
}

.btn {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #9356dc;
    color: white;
    position: relative;
    padding: 2px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 0.9em;
}

.text1 {
    margin-left: 8px;
}

.text2 {
    margin-left: 3px;
}

.text3 {
    margin-left: 0px;
}

/* Partie 4 Restaurants */

.restaurants {
    background: #f7f7f7;
}

.menurestaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurants h2 {
    padding-top: 50px;
    margin-left: 15px;
}

.restaurants article {
    background: rgb(255, 255, 255);
    margin-bottom: 60px;
    width: 90%;
    border-radius: 15px;
    box-shadow: 2px 2px 10px #c6c6c6;
    height: 240px;
}

.restaurants img {
    width: 100%;
    height: 170px;
    margin-left: 0px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.restaurants a {
    color: black;
}

.restaurants h3,
p {
    margin-left: 10px;
}

.restaurants h3 {
    margin-bottom: -10px;
    margin-top: 10px;
}

/* Partie 5 Footer */

footer {
    background: #353535;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

footer a {
    color: white;
    margin-bottom: 10px;
}

footer i{
    font-size: 0.8em;
}

footer img {
    filter: invert(100%);
    width: 100px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer a,
img {
    margin-left: 20px;

}

.fa-solid.fa-utensils {
    margin-right: 13px;
}

.fa-solid.fa-handshake-angle {
    margin-right: 8px;
}